#fleet
VEHICLES_TOTAL_NUMBER=15000
VEHICLES_VISIBLE_NUMBER=15


DOCKER_DEMO_NETWORK=mqttd-demo
KAFKA_BOOTSTRAP_SERVERS=kafka:9092

#fleet-service
MQTT_HOST=waterstream
MQTT_PORT=1883
MQTT_USERNAME=<username>
MQTT_PASSWORD=<password>

#fleet-ui
MQTT_WEBSERVICE_HOST=fleetdemo.waterstream.io
MQTT_WEBSERVICE_PORT=1993
MQTT_WEBSERVICE_USE_SSL=true
MESSAGE_COUNT_PANEL_ADDRESS=https://dashboard.waterstream.io/d-solo/ilHi2H-Zz/mqttd?orgId=2&refresh=5s&panelId=4&theme=light

#routing
ROUTING_HEAP=4g
